Source: mininet
Section: net
Priority: optional
Maintainer: Italo Valcy <italo@amlight.net>
Build-Depends: debhelper (>= 12),
               debhelper-compat (= 12),
               dh-python,
               help2man,
               python3,
               python3-pkg-resources,
               python3-setuptools
Standards-Version: 4.5.1
Vcs-Browser: https://github.com/italovalcy/mininet
Vcs-Git: https://github.com/italovalcy/mininet.git
Homepage: http://mininet.org/

Package: mininet
Architecture: linux-any
Depends: cgroup-tools,
         iperf,
         net-tools,
         python3,
         socat,
         telnet,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Recommends: openvswitch-switch
Description: process-based network emulator
 Mininet is a network emulator which uses lightweight virtualization
 to create virtual networks for rapid prototyping of Software-Defined
 Network (SDN) designs using OpenFlow.
